<header id="site-header">
    <div class="header-container">
        <a href="/" id="logo-link">
            <img src="images/logo.png" alt="Arbol AI Logo" class="logo">
        </a>
        
        <div class="contact-info">
            <a href="/coming-soon" class="btn btn-outline" data-translate="coming-soon-btn">Coming Soon</a>
            <a href="/pricing" class="btn btn-outline" data-translate="pricing-btn">Pricing</a>
            <a href="https://cal.com/samuel-arbol-ai" class="btn btn-outline" data-translate="talk-to-sales">Talk to sales</a>
        </div>
    </div>
</header>