<header id="site-header">
    <div class="header-container">
        <a href="/" id="logo-link">
            <img src="images/logo.png" alt="Arbol AI Logo" class="logo">
        </a>
        
        <div class="contact-info">
            <a href="https://docs.google.com/document/d/1-uh8zOBYwiC3B3KTHT53XUjqNHFTTIyE5eSNzzN3YWg/edit?usp=sharing" class="btn btn-primary">Buy</a>
            <a href="https://cal.com/samuel-arbol-ai" class="btn btn-outline">Talk to sales</a>
        </div>
    </div>
</header>