<header id="site-header">
    <div class="header-container">
        <a href="#hero" id="logo-link">
            <img src="images/logo.png" alt="Arbol AI Logo" class="logo">
        </a>
        
        <div class="nav-links">
            <a href="#agents" class="nav-link">Agents</a>
            <!-- <a href="#capabilities" class="nav-link">Capabilities</a> -->
            <a href="#pricing" class="nav-link" data-translate="pricing-btn">Pricing</a>
            <!-- <a href="#coming-soon" class="nav-link" data-translate="coming-soon-btn">Coming Soon</a> -->
            <a href="https://cal.com/samuel-arbol-ai" class="nav-link" data-translate="talk-to-sales">Talk to sales</a>
        </div>
    </div>
</header>